@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@font-face {
    font-family: 'aassassinninjaregular';
    src: url('fonts/assassinninja-7byyr-webfont.woff2') format('woff2'),
    url('fonts/assassinninja-7byyr-webfont.woff') format('woff'),
    url('fonts/AssassinNinja-7BYyR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {margin: 0; height: 100vh; overflow: hidden}
#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1b1e36;
}
a {
    color: #FFF;
    text-decoration: none;
}
a:hover span {
    text-decoration: underline;
}

#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}
.instructions div {
    margin: 5%;
    max-width: 23%;
}
.instructions img {
    width: 150px;
    max-width: 100%;
}
.instructions span {
    font-size: 24px;
    display: block;
    text-align: center;
    font-family: 'aassassinninjaregular';
    margin-bottom: 10px;
}
.instructions sub {
    display: block;
    margin-bottom: 30px;
}