@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:400,700');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@font-face {
    font-family: 'aassassinninjaregular';
    src: url('fonts/assassinninja-7byyr-webfont.woff2') format('woff2'),
    url('fonts/assassinninja-7byyr-webfont.woff') format('woff'),
    url('fonts/AssassinNinja-7BYyR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {margin: 0; height: 100vh; overflow: hidden}
.body {
    height: 100vh;
    position: fixed;
    top:0.5px;
    bottom:0.5px;
    left:0;
    right:0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

* {
    /*font-family: 'Miriam Libre', sans-serif;*/
    font-family: 'aassassinninjaregular';
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: #000;
    /*background: rgb(10, 22, 33);*/
    /*background: radial-gradient(circle, #11203d 0%, #070910 75%);*/
    /*background: radial-gradient(circle, #4b89fd 0%, #1b233e 75%);*/
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: Tahoma;
    color: black;
    font-weight: bold;
    display: block;
    overflow-x: hidden;
}
body.mobile {
    background: radial-gradient(circle, #172a50 0%, #070910 75%);
}

canvas {
    width: 100%;
    height: 100%
}

#blocker,.objectForm {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

/* Instructions */
.overlay3 {
    position: absolute;
    right: 1%;
    width: 20%;
    height: 30%;
    color: #FFF;
    font-family: Helvetica;
    font-size: 12pt;
    z-index: 1;
    text-align: right;
}

.meter {
    width: 139px;
    height: 12px;
    position: relative;
    background: #222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 3px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
    margin-left: 15px;
}

.meter > span {
    display: block;
    height: 100%;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(center bottom, rgb(43, 194, 83) 37%, rgb(84, 240, 84) 69%);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
    inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
}

.multiColor > span {
    background-color: #f663ff;
    /*background-image: linear-gradient(to bottom, #ff0000, #04ff0d);*/
    background-image: linear-gradient(to right, #6200ff, #f663ff)
}

/* SPEEDO BEGIN */
.speedo {
    margin-left: -20px;
    position: relative;
}

.speedo span {
    position: absolute;
    bottom: 28px;
    left: 74px;
    width: 50px;
    display: block;
    text-align: center;
}

#foo {
    height: 100px;
    width: 200px;
}

/* SPEEDO END */

.toHeading {
    position: relative;
    width: 160px;
    height: 160px;
}

.toHeading img {
    display: block;
    position: absolute;
}

.toHeading img {
    width: 160px;
    height: 160px;
}

.toHeading img.knob {
    width: 22px;
    height: 22px;
    margin-left: 134px;
    margin-top: 134px;
}

.toHeading img.degrees, img.needle {
    /*transition: all .5s;*/
}

.crosshair {
    pointer-events: none;
    position: fixed;
    z-index: 10;
    width: 2px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-left: -1px;
    margin-top: -1px;
    background: #00FF00;
}

div.stats {
    position: absolute !important;
    /*right: 0 !important;
    bottom: 0 !important;
    top: initial !important;
    left: initial !important;*/

    left: 0 !important;
    top: 0 !important;
    bottom: initial !important;
    right: initial !important;
}

/* Loader begin */
#loader, #loader:before {
    border: 3px solid transparent
}

#loader, #loader_text {
    display: block;
    left: 50%;
    top: 50%;
    z-index: 1500
}

#loader:after, #loader:before {
    content: ""
}

.loadingDiv p, .noticeWindow a {
    font-weight: 700;
    color: #FFF
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999
}

#loader {
    position: relative;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-top-color: #b8fffc
}

#loader_text {
    font-size: 20px;
    position: absolute;
    width: 180px;
    height: 180px;
    margin: -90px 0 0 -90px;
    color: #FFF;
    text-align: center;
    line-height: 180px
}

#loader:before {
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: #b8fffc
}

#loader:after {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 3px solid transparent;
    border-top-color: #b8fffc;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite
}

#loader, #loader:after, #loader:before {
    border-radius: 50%
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

#loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

#loader:before {
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 50%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 1000
}

#loader-wrapper .loader-section.section-left {
    left: 0
}

#loader-wrapper .loader-section.section-right {
    right: 0
}

.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%)
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out
}

.loaded #loader-wrapper .loader-section.section-left, .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
    transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
}

.loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all .3s 1s ease-out;
    transition: all .3s 1s ease-out
}

/* Loader end */

.webglHolder, .webglHolderSingle, .webglHolderDouble, .webglHolderQuad, .webglHolderPent {
    position: relative;
}

.webglHolderSingle {
    height: 100vh;
    overflow: hidden;
}

.webglHolderDouble {
    height: 200vh;
}

.webglHolder {
    height: 300vh;
}

.webglHolderQuad {
    height: 400vh;
}
.webglHolderPent {
    height: 500vh;
}
.webglHolderFlex {
    height: auto;
}

.webglInnerHolder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#container0, #container1, #container2, #container3 {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
}
#container0 {
}
#container1 {
    top:-20vh;
    height: 120vh;
}
.test {
    width: 100%;
    height: 100vh;
}

.rest_of_content {
    height: 200vh;
    background: grey;
}

#threejs {
    /*position: absolute;*/
    position: fixed;
    left: 0;
    top: 0vh;
    width: 100%;
    height: 100vh;
    display: block;
    z-index: 99;
}

.bottomLeftInfob {
    pointer-events: none;
    background: #FFFFFF;
    color: #000000;
    font-size: 6px;
    line-height: 7px;
    border: 2px solid #FF0000;
}

.bottomLeftInfob * {
    font-size: 6px;
    line-height: 7px;
    font-weight: bold;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 7px;
    font-weight: bold;
    font-style: italic;
    padding: 5px 5px 0 5px;
    border: none;
    overflow: hidden;
    word-break: normal;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 5px;
    padding: 5px;
    border: none;
    overflow: hidden;
    word-break: normal;
}

.tg .tg-0lax {
    text-align: left;
    vertical-align: top
}

.classp1 {
    padding: 0 5px !important;
}

.classp2 {
    padding: 0 5px !important;
}

.classp3 {
    padding: 0 5px !important;
}


/* CONTENT BEGIN */
.hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    display: table;
}

.hero-context {
    display: table-cell;
    vertical-align: middle;
}

/* Menu BEGIN */
ul.nav {
    list-style-type: none;
}

.is-full {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100)
}

.margin-bottom-full {
    margin-bottom: 100vh;
    margin-bottom: calc(var(--vh, 1vh) * 100)
}

.margin-bottom-half-full {
    margin-bottom: 50vh;
    margin-bottom: calc(var(--vh, 1vh) * 50)
}

.is-full120 {
    width: 100%;
    height: 120vh;
    height: calc(var(--vh, 1vh) * 120)
}
.is-full-height {
    width:100%;
    height:100%;
}

.hero-inner {
    width: auto;
    will-change: transform;
    text-shadow: 2px 2px 5px #00000096;
}

h1.hero-title {
    display: block;
    width: 100%;
    font-size: 5rem;
    line-height: 1em;
    margin: 0 0 1vh 0;
    margin: 0 0 calc(var(--vh, 1vh) * 1) 0;
    color: #fff;
    will-change: filter;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    margin: 0;
}

h1.hero-title.border {
    -webkit-text-stroke: 1px white;
    color: transparent;
}

h3.hero-sub-title {
    color: #4cfff7;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 0;
    margin-bottom: 0.5rem;
}

h1.hero-title.smaller {
    font-size: 4rem;
    line-height: 5rem;
}


.hero-desc {
    padding-top: 1rem;
    display: block;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.5em;
    margin: 0 0;
    letter-spacing: 0.1em;
    color: #eeeeff;
    will-change: filter;
    font-weight: 400;
}

html.is-cn .hero-desc {
    font-size: 0.9em
}

.flex-vertical {
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column
}

.flex-horizontal {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -ms-flex-direction: row
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2500;
    vertical-align: bottom;
    font-size: 1rem;
    /*text-transform: uppercase;*/
    letter-spacing: 0.1em;
    /*background: rgb(0 0 0 / 45%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 45%);*/
    height:90px;
}

​ #header-content {
    width: 100%;
    left: 0;
    bottom: 42px
}

.me {
    text-decoration: none;
    display: block;
    color: #FFF;
    font-size: 1.4rem;
    right: -113px;
    position: absolute;
    white-space: nowrap;
    top: 56px;
    text-shadow: 2px 2px 5px black;
}
#header-logo {
    float: left;
    position: relative;
    padding-left: 60px
}

#header-logo svg {
    width: 220px;
}
#header-logo img {
    max-width:100px;
    vertical-align: middle;
}

html.is-menu-visible #header-logo path.lettering {
    fill: #000
}

#header-menu {
    float: right;
    margin: 0 0;
    padding: 0 0;
    text-align: center
}

li.header-menu-item {
    float: right;
    /*margin: 0 0.4vw;*/
    margin: 0 1.5vw;
}

li.header-menu-item a {
    display: inline-block;
    padding: 10px 10px;
    color: #bbb
}

.header-item {
    position: relative
}

.header-item::after {
    /*position: absolute;
    content: '';
    bottom: 6px;
    left: 10px;
    width: 1.5em;
    height: 2px;
    background-color: #fff;
    transform-origin: 0 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.18s ease-in-out;*/

    position: absolute;
    bottom: 10px;
    color: #fff;
    content: '\003E';
    right: -2px;
    display: none;
}

.header-item::before {
    position: absolute;
    content: '';
    bottom: 6px;
    left: 10px;
    width: 1.5em;
    height: 2px;
    background-color: #fff;
    transform-origin: 0 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.18s ease-in-out;
}

.at-home .header-item.is-home:after, .at-about .header-item.is-about:after, .at-work .header-item.is-work:after, .at-contact .header-item.is-contact:after, .header-item:hover:after, .header-item.is-selected:after {
    transform: scale3d(0.75, 1, 1);
}

.at-home .header-item.is-home:before, .at-about .header-item.is-about:before, .at-work .header-item.is-work:before, .at-contact .header-item.is-contact:before, .header-item:hover:before, .header-item.is-selected:before {
    transform: scale3d(0.75, 1, 1);
}

.at-home .header-item.is-home a, .at-about .header-item.is-about a, .at-work .header-item.is-work a, .at-contact .header-item.is-contact a, .header-item:hover a, .header-item.is-selected a {
    color: #fff
}

.header-menu-item-mask {
    overflow: hidden
}

.header-menu-item-mask span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-top: 30px;
    text-shadow: 2px 2px 5px black;
}

#header-lang-selector {
    float: right;
    margin-left: 1vw;
    padding-right: 60px;
}

a.header-lang-item {
    margin-right: -10px;
    padding: 10px 10px;
    color: #e8e8e8
}

#header-menu-btn {
    display: none;
    position: absolute;
    right: 0;
    top: -20px;
    width: 50px;
    height: 50px
}

#header-menu-btn::before, #header-menu-btn::after {
    position: absolute;
    content: '';
    left: 50%;
    top: 50%;
    display: block;
    width: 2px;
    height: 24px;
    margin-top: -10px;
    background-color: #000
}

html.is-menu-visible #header-menu-btn::before, html.is-menu-visible #header-menu-btn::after {
    background-color: #000
}

#header-menu-btn::before {
    transform: translate3d(0, -5px, 0) rotate(90deg);
    transition: transform 0.18s ease-in-out
}

#header-menu-btn.is-selected::before {
    transform: rotate(-45deg)
}

#header-menu-btn::after {
    transform: translate3d(0, 5px, 0) rotate(-90deg);
    transition: transform 0.18s ease-in-out
}

#header-menu-btn.is-selected::after {
    transform: rotate(45deg)
}

#header-logo-path path.lettering, #header-logo-path-flat path {
    fill: #FFF;
}

@media (max-width: 1280px) {
    .me {
        color: #000;
        right: -163px;
        top: 27px;
    }
    #menu {
        font-size: 1.4em
    }
    #header-logo img {
        max-width:70px;
    }

    #header-logo-path path.lettering, #header-logo-path-flat path {
        fill: #000;
    }

    #header-logo svg {
        /*width: 100px;*/
    }

    #header {
        /*background: #2ef5ff;*/
        background-image: linear-gradient(#2ef5ff, #2359c5);
        left: 0;
        top: 0;
        height: 70px
    }

    html.is-menu-visible #header {
        background: #FFF;
        color: red;
        box-shadow: none;
    }

    #header-logo {
        padding-left: 15px;
        padding-top: 4px;
    }

    #header-lang-selector, #header-menu {
        display: none
    }

    #header-menu-btn {
        display: block;
        margin-right: 16px;
        margin-top: 30px
    }
}

#menu {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    color: #888888;
    text-align: left;
    visibility: hidden;
    background: #FFF;
}

#menu-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center
}

#menu-menu {
    padding: 0 0;
    font-size: 1.6em;
    line-height: 1.8em;
    letter-spacing: 0.06em
}

html.is-menu-visible #menu {
    visibility: visible;
}

.menu-menu-item {
    /*opacity: 0*/
}

.menu-menu-item a {
    display: inline-block;
    position: relative;
    color: #000
}

.menu-menu-item a:after {
    display: none;
    position: absolute;
    left: -10%;
    top: 50%;
    width: 120%;
    height: 2px;
    background-color: #000;
    content: ''
}

.at-home .menu-menu-item.is-home a:after, .at-about .menu-menu-item.is-about a:after, .at-work .menu-menu-item.is-work a:after, .at-contact .menu-menu-item.is-contact a:after {
    display: block
}

#menu-lang-selector {
    opacity: 0;
    font-size: 0.8em
}

a.menu-lang-item {
    color: #000
}

.menu-lang-item-separator {
    display: inline-block;
    padding: 0 0.3vw
}

.menu-lang-item.is-cn {
    font-size: 0.83em
}

.hero-context {
    padding: 45px 40px;
    width: 100%;
    height: 100%;
    align-items: center
}

@media (max-width: 1280px) {
    #menu {
        display: block
    }
}

@media (max-width: 420px) {
    .hero-context {
        padding: 35px 35px
    }

    h1.hero-title {
        font-size: 3.6em
    }
}

@media (max-width: 400px) {
    h1.hero-title {
        font-size: 2.5em
    }

    .hero-desc {
        font-size: 0.6em
    }

    html.is-cn .hero-desc {
        font-size: 0.8em
    }
}
/* Menu END */

#contact, .general {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    min-height: 100vh;
}

#contact-main, .general-main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position:relative;
    padding:6vh 0;
    align-items: center;
    justify-content: center;
}

#contact-context, .general-context {
    width: 100%
}

#contact-title, .general-title {
    font-size: 3em;
    margin: 0 0;
    padding: 0 0;
    text-transform: none;
    text-indent: -0.08em
}

#contact-desc, .general-desc {
    font-size: 1rem;
    letter-spacing: 0.05em;
    margin: 1em 0 2em 0;
    color: #eeeeff
}

#contact-columns, .general-columns {
    max-width: 100%
}

.contact-column, .general-column {
    position: relative;
    float: left;
    margin-left: 0.6em;
    padding-right: 4.4em;
    letter-spacing: 0.04em
}

.contact-column::before, .general-column::before {
    content: '';
    position: absolute;
    display: block;
    left: -0.6em;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #fff
}

.contact-column:last-child, .general-column:last-child {
    padding-right: 0
}

.contact-column ul, .general-column ul {
    padding: 0.3em 0 0 0;
    margin: 0 0
}

.contact-column li, .general-column li {
    font-size: 0.9rem;
}

.contact-column a, .general-column a {
    display: inline-block;
    position: relative;
    color: #fff
}

.contact-column a:after, .general-column a:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform-origin: 0 0;
    transform: scale3d(0, 1, 1);
    transition: transform 0.18s linear
}

.contact-column a:hover:after, .general-column a:hover:after {
    transform: scale3d(1, 1, 1)
}

.contact-column-title, .general-column-title {
    text-transform: uppercase;
    font-size: 1rem;
}

.contact-column-item, .general-column-item {
    font-size: 0.65em;
    line-height: 1.3em;
    color: #eeeeff
}

#contact-subscribe-btn, .general-subscribe-btn {
    position: relative;
    display: block;
    margin-top: 2.5em;
    font-size: 0.75em;
    cursor: pointer;
    text-decoration: underline;
    color: #eeeeff
}

#contact-subscribe-btn:before, .general-subscribe-btn:before {
    position: absolute;
    display: block;
    left: -20px;
    top: 0.55em;
    content: '';
    width: 10px;
    height: 1px;
    background-color: #eeeeff
}

#contact-footer, .general-footer {
    width: 100%
}

#contact-footer-copyright, .general-footer-copyright {
    float: left;
    font-size: 0.6em;
    letter-spacing: 0.05em;
    padding-left: 60px;
    padding-bottom: 30px;
    color: #fff;
}

#contact a, .general a {
    color: #fff;
}

@media (max-width: 1280px) {
    #contact-footer-copyright, .general-footer-copyright {
        float: left;
        padding-left: 0;
        margin-left: 5vw
    }
}

@media (max-width: 720px) {
    h1.hero-title.smaller {
        font-size: 2rem;
        line-height: 5rem;
    }
}

@media (max-width: 800px) {
    .contact-column {
        padding-right: 3.4em
    }
}

@media (max-width: 400px) {
    #contact-title, .general-title {
        font-size: 2em
    }

    #contact-desc, .general-desc {
        font-size: 0.8em;
        margin-bottom: 2.5em
    }

    .contact-column {
        padding-right: 1.4em
    }
}

.sec-context {
    max-width: 1500px;
    text-align: left;
    margin: 0 auto;
    padding: 8vh 0;
    padding: calc(var(--vh, 1vh) * 8) 0;
    color: #FFF;
}

.sec-context-images {
    max-width: 100%;
    text-align: left;
    margin: 0 auto;
    padding: 8vh 0;
    padding: calc(var(--vh, 1vh) * 8) 0;
    color: #FFF;
    height: 100%;
}

.sec-context-images img {
    max-width: 50%;
}
@media (max-width: 1040px) {
    .sec-context-images img {
        max-width: 100%;
    }
}

.sec-context-images.left-align img {
    margin-left: 0;
    margin-right: auto;
}

.sec-context-images.right-align img {
    margin-right: 0;
    margin-left: auto;
}

.sec-context {
    height: 100%;
}

.sec-context-inner {
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.darker-bg {
    position: relative;
}

.sec-context-inner.is-right {
    width: 42%;
    margin-left: 50%;
    margin-right: 8%;
    text-align: right;
}
.sec-context-inner.is-middle {
    text-align: center;
}

.sec-context-inner.is-left {
    width: 42%;
    margin-right: 50%;
    margin-left: 8%;
}

.sec-context-inner {
    will-change: opacity, transform;
}

.about-sec-title {
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0.1em;
}

.about-sec-subtitle {
    font-size: 1.6em;
    margin: 0.9em 0;
}

.about-sec-desc {
    font-size: 0.9em;
    color: #eeeeff;
}

@media (max-width: 1280px) {
    .sec-context-inner, .sec-context-inner.is-left, .sec-context-inner.is-right {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

.devider {
    overflow: visible;
    position: relative;
    height: 0vh;
    width: 100%;
}

.deviderBGtop {
    height: 15vh;
    background: linear-gradient(rgba(0, 0, 0, 0), black);
    top: -15vh;
    position: absolute;
    left: 0;
    right: 0;
}

.deviderBGbottom {
    height: 15vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0));
    bottom: -15VH;
    position: absolute;
    left: 0;
    right: 0;
}

.footer_devider {
    /*margin-top: 0vh;
    height: 1vh;
    background: black;*/

    margin-top: 0vh;
    height: 1vh;
    background: #000000;
    box-shadow: 0px 0px 10px 5px #00000091;
}

/* Sounds icon BEGIN */
/*.play-button-outer {
    !* margin: 25% auto; *!
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    cursor: pointer;
    border-radius: 50px;
}

.play-button {
    margin: 0 auto;
    !* top: 25%; *!
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.5em 0 0.5em 1.2em;
    border-color: transparent transparent transparent #ef1515;
    opacity: .75;
}

.play-button-outer:hover {
    background-color: rgba(0, 0, 0, .5);
}

.play-button:hover {
    opacity: 1;
}*/
.play-btn {
    width: 40px;
    top: -7px;
    height: 40px;
    left: 0px;
    background: radial-gradient(rgba(184, 255, 252, 0.65) 60%, rgb(255 255 255) 62%);
    border-radius: 50%;
    position: relative;
    display: block;
    /* margin: 100px auto; */
    /*box-shadow: 0px 0px 8px 3px rgb(184 255 252 / 80%);*/
}

/* triangle */
.play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    transform-origin: center center;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid #fff;
    z-index: 100;
    -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

/* pulse wave */
.play-btn:before {
    content: "";
    position: absolute;
    width: 150%;
    height: 150%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, .75);
    top: -38.75%;
    left: -37%;
    background: rgba(198, 16, 0, 0);
}

.play-btn.playing {
    display: none;
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
        opacity: 1;
        box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1);
        opacity: 0;
        box-shadow: none;

    }
}

#soundBars {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 99999;
    cursor: pointer;
    height: 28px;
    width: 40px;
}

.bar {
    background: #b8fffc;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
}

.bar.hidebar {
    display: none;
}

.bar.playing {
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
}

.bar:nth-child(2) {
    left: 5px;
    animation-duration: 433ms;
}

.bar:nth-child(3) {
    left: 9px;
    animation-duration: 407ms;
}

.bar:nth-child(4) {
    left: 13px;
    animation-duration: 458ms;
}

.bar:nth-child(5) {
    left: 17px;
    animation-duration: 400ms;
}

.bar:nth-child(6) {
    left: 21px;
    animation-duration: 427ms;
}

.bar:nth-child(7) {
    left: 25px;
    animation-duration: 441ms;
}

.bar:nth-child(8) {
    left: 29px;
    animation-duration: 419ms;
}

.bar:nth-child(9) {
    left: 33px;
    animation-duration: 487ms;
}

.bar:nth-child(10) {
    left: 37px;
    animation-duration: 442ms;
}

/* Sounds icon END */

.bg_video {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
}

.bg_video video {
    min-width: 100%;
    min-height: 100%;
}
.is-right-big {
    width: 50%;
    margin-left: 50%;
    margin-right: 0;
    text-align: right;
}

.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.bg2 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 75%;
}
@media (max-width: 1040px) {
    .bg2 {
        width:100%;
    }
    .is-right-big {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: right;
    }
}
.bg2 section {
    height: 100%;
}

.bg1 {
    background-image: url('../images/img0.jpg');
}

.bg2 {
    background-image: url('../images/img1.jpg');
}

.bg3 {
    background-image: url('../images/img2.jpg');
}

.full_image {
    min-height: 100%;
    min-width: 100%;
}

.section {
    perspective: 1800px;
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
}

.section .foldMe {
    /*transform: translateY(0px) scale(1) rotateX(80.9899deg);*/
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
}

.vimeo {
    pointer-events: none;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button, .btn {
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    outline: none;
    outline-offset: none;
    color: #000000;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;
    border: 1.5px solid #000000;
    -webkit-box-shadow: 4px 6px 0px rgb(17 17 17 / 80%);
    box-shadow: 4px 6px 0px rgb(17 17 17 / 80%);
    border-radius: 1px;
    background-color: #FFF;
    text-align: left;
    text-decoration: none;
    padding: 1rem;
}

button.arrow, .btn.arrow {
    display: inline-block;
    padding: 20px 65px 20px 40px;
    background-image: url(../images/arrow-btn.svg);
    background-position: right 15px center;
    background-repeat: no-repeat;
    background-size: 19px 16.5px;
    text-shadow: none;
    font-size: 1.2rem;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn {
    margin-top: 25px;
}

button.arrow:hover, .btn.arrow:hover, button.arrow:focus, .btn.arrow:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:not(:disabled):not(.disabled).active, .btn:not(:disabled):not(.disabled):active {
    background-image: none;
}

/*
@media (max-width: 767px) {
    html {
        overflow: hidden;
    }

    body {
        height: 100%;
        position: fixed;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
    }
}*/
.flex-container, .flex-container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:4vh 0;
}
.flex-container-contact {
    background: rgba(0,0,0,.75);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgb(0 0 0 / 70%);
    border-radius: 10px;
    padding: 5vh;
    width: auto !important;
}
.flex-container-contact div {
    display: grid;
}
.flex-container > div img {
    max-width: 476px;
    width:100%;
    min-height: 476px;
    min-width: 476px;
}
.flex-container > div {
    margin: 3vw;
    font-size: 0;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 15px 3px #00000066;
    overflow: hidden;
    position: relative;
    -webkit-filter: grayscale(85%);
    filter: grayscale(85%);
    border-top: 3px solid #ffffff87;
    border-right: 3px solid #ffffff87;
    border-left: 3px solid #3e3e3e;
    border-bottom: 3px solid #404040;
    border-radius: 40px;
    box-sizing: border-box;
}
.flex-container > div:hover {
    transform: scale(1.05);
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.flex-container > div a {
    display: inline-block;
    float: left;
}
.flex-container > div:before{
    /*content:'';
    position:absolute;
    width:130%;
    height:45%;
    top:-15%;
    right:-5%;
    background:rgba(255,255,255,0.3);
    background:
            linear-gradient(
                    top,
                    rgba(255,255,255,0.1),
                    rgba(255,255,255,0.3)
            );
;
    transform:rotate(10deg);
    border-bottom-left-radius:200px 20px;
    border-bottom-right-radius: 200px 10px;
    border-top-right-radius:5px 100px;*/

    content: '';
    position: absolute;
    width: 130%;
    height: 50%;
    top: -18%;
    right: -30%;
    background: rgba(255,255,255,0.3);
    background: linear-gradient( top, rgba(255,255,255,0.1), rgba(255,255,255,0.3) );
    transform: rotate(
            10deg
    );
    border-bottom-left-radius: 200px 20px;
    border-bottom-right-radius: 200px 10px;
    border-top-right-radius: 5px 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}
#about-ninja {
    position: relative;
    z-index: 99;
}

@media (max-width: 521px) {
    .flex-container > div img {
        max-width: 476px;
        width:100%;
        min-height: 272px;
        min-width: 272px;
    }
}

/* CONTACT FORM BEGIN */
/*html {
    height: 100%;
}
body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}*/

.login-box {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    width: 400px;
    padding: 40px;
    /*transform: translate(-50%, -50%);*/
   /* background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;*/
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input, .login-box .user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box textarea {

}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box a:hover {
    /*background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 100px #03e9f4;*/

    background: #0dbee2;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #0fd6ff, 0 0 25px #0fd6ff, 0 0 50px #0fd6ff, 0 0 100px #0fd6ff;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}
@media (max-width: 901px) {
    .flex-container-contact {

    }
    .flex-container-contact div {
        width: 100%;
    }
    .login-box {
        padding:0;
        margin-top: 7vh;
    }
    #contact-main, .general-main {
        padding:0;
    }
    .flex-container-contact {
        border-radius: 0;
    }
}
/* CONTACT FORM END */
@media (max-width: 1096px) {
    .flex-container > div {
        margin: 4vh;
    }
}

/* Animations */
body.loaded .hero-title.border {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), #1973e2, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 2.5s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
.dg .property-name {
    font-family: Arial !important;
}

.templates {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 13px;
}
.templates ul {
    margin:0;
    padding:0;
}
.templates li {
    list-style: none;
    padding:0;
    margin:0;
    position: relative;
    overflow: hidden;
    /*border-radius: 20%;*/
    min-height: 5%;
    cursor: pointer;
}
.templates li img, .models li img, .tools li img {
    display: list-item;
    position: relative;
    width:86px;
}
.templates li.gloss:hover {

}
.templates li.gloss:hover:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
}
.templates li.gloss:after {
    content: '';
    width: 120%;
    height: 60%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    transform: rotate(
            18deg);
    right: -15%;
    top: -18%;
}
.templates .buttons {
    background: #34bc38;
}
.templates .buttons:hover:after {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 0) 100%);
}
.templates .buttons:after {
    content: '';
    width: 120%;
    height: 80%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    position: absolute;
    transform: rotate(
            11deg);
    right: -15%;
    top: -26%;
}
.templates span {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    color: #d9d9d9;
    height: 100%;
    line-height: 25px;
    z-index: 99;
    font-size: 20px;
    top: 19px;
}
.templates .mode span {
    text-shadow: 0px 0px 10px black;
    color: #e3e3e3;
}
.models {
    position: absolute;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 13px;
}
.models ul {
    margin:0;
    padding:0;
}
.models li {
    list-style: none;
    padding:0;
    margin:0;
    position: relative;
    /*border-radius: 20%;*/
    min-height: 5%;
    cursor: pointer;
    display: inline-block;
}
.models li.bricks {
    overflow: hidden;
}
.models li.bricks:after {
}
.models li.bricks:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
}
.models li.bricks:after {
    content: '';
    width: 120%;
    height: 60%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    transform: rotate(
            18deg);
    right: -15%;
    top: -22%;
}

.tools {
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    padding: 13px;
}
.tools ul {
    margin:0;
    padding:0;
}
.tools li {
    list-style: none;
    padding:0;
    margin:0;
    position: relative;
    /*border-radius: 20%;*/
    min-height: 5%;
    cursor: pointer;
    display: inline-block;
}
.tools span {
    position: absolute;
    display: block;
    text-align: center;
    width: 100%;
    color: #0e0e0e;
    height: 100%;
    line-height: 93px;
    z-index: 99;
    font-size: 20px;
}
.tools .mode span {
    text-shadow: 0px 0px 10px black;
    color: #e3e3e3;
}
.tools li.gloss {
    overflow: hidden;
}
.tools li.gloss:after {
}
.tools li.gloss:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
}
.tools li.gloss:after {
    content: '';
    width: 120%;
    height: 60%;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    transform: rotate(
            18deg);
    right: -15%;
    top: -22%;
}

.buttons {
    cursor: pointer;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
}
.objectForm {
    display: none;
}
.objectForm textarea {
    border-radius: 7px;
    padding:10px;
    font-family: Tahoma;
    width: 100%;
    margin: 20px 0;
}
.objectForm .objectFormWrapper {
    position: relative;
    padding: 2%;
    margin: 0 auto;
    height: 50%;
    width: 20%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    top: 50%;
    margin-top: -10%;
}
.objectForm button {
    cursor: pointer;
    display: inline-block;
}
.objectForm .closeBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}
.painting #threejs {
    cursor:pointer !important;
}